In [1]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import col

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

### fakefriends.csv doesn't contain header. defined Header using 'schema' parameter.

In [2]:
df=spark.read.csv(r"C:\Users\Muthu\Music\fakefriends.csv",schema='id integer,name string ,age integer ,numfriends integer')

In [3]:
df.show()

+---+--------+---+----------+
| id|    name|age|numfriends|
+---+--------+---+----------+
|  0|    Will| 33|       385|
|  1|Jean-Luc| 26|         2|
|  2|    Hugh| 55|       221|
|  3|  Deanna| 40|       465|
|  4|   Quark| 68|        21|
|  5|  Weyoun| 59|       318|
|  6|  Gowron| 37|       220|
|  7|    Will| 54|       307|
|  8|  Jadzia| 38|       380|
|  9|    Hugh| 27|       181|
| 10|     Odo| 53|       191|
| 11|     Ben| 57|       372|
| 12|   Keiko| 54|       253|
| 13|Jean-Luc| 56|       444|
| 14|    Hugh| 43|        49|
| 15|     Rom| 36|        49|
| 16|  Weyoun| 22|       323|
| 17|     Odo| 35|        13|
| 18|Jean-Luc| 45|       455|
| 19|  Geordi| 60|       246|
+---+--------+---+----------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- numfriends: integer (nullable = true)

In [5]:
df.createOrReplaceTempView('friends')

In [10]:
sample_df = spark.sql('select * from friends where id between 0 and 15')

In [11]:
type(sample_df)

pyspark.sql.dataframe.DataFrame

In [12]:
sample_df.show()

+---+--------+---+----------+
| id|    name|age|numfriends|
+---+--------+---+----------+
|  0|    Will| 33|       385|
|  1|Jean-Luc| 26|         2|
|  2|    Hugh| 55|       221|
|  3|  Deanna| 40|       465|
|  4|   Quark| 68|        21|
|  5|  Weyoun| 59|       318|
|  6|  Gowron| 37|       220|
|  7|    Will| 54|       307|
|  8|  Jadzia| 38|       380|
|  9|    Hugh| 27|       181|
| 10|     Odo| 53|       191|
| 11|     Ben| 57|       372|
| 12|   Keiko| 54|       253|
| 13|Jean-Luc| 56|       444|
| 14|    Hugh| 43|        49|
| 15|     Rom| 36|        49|
+---+--------+---+----------+