In [14]:
from pyspark.sql import SparkSession,Row

from pyspark.sql.functions import col

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

In [3]:
emp = [(1,"Smith",-1,"2018","10","M",3000), 
    (2,"Rose",1,"2010","20","M",4000), 
    (3,"Williams",1,"2010","10","M",1000), 
    (4,"Jones",2,"2005","10","F",2000), 
    (5,"Brown",2,"2010","40","",-1), 
      (6,"Brown",2,"2010","50","",-1) 
  ]

empColumns = ["emp_id","name","superior_emp_id","year_joined", 
       "emp_dept_id","gender","salary"]

In [4]:
emp_df = spark.createDataFrame(emp,empColumns)

In [5]:
dept = [("Finance",10), 
    ("Marketing",20), 
    ("Sales",30), 
    ("IT",40) 
  ]
  
  
deptColumns = ["dept_name","dept_id"]

In [6]:
dep_df = spark.createDataFrame(dept,deptColumns)

In [7]:
emp_df.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [8]:
dep_df.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [9]:
emp_df.join(dep_df,emp_df.emp_dept_id==dep_df.dept_id,'inner').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [10]:
emp_df =emp_df.withColumnRenamed('emp_dept_id','dept_id')

In [11]:
emp_df.join(dep_df,'dept_id','inner').show()

+-------+------+--------+---------------+-----------+------+------+---------+
|dept_id|emp_id|    name|superior_emp_id|year_joined|gender|salary|dept_name|
+-------+------+--------+---------------+-----------+------+------+---------+
|     10|     1|   Smith|             -1|       2018|     M|  3000|  Finance|
|     10|     3|Williams|              1|       2010|     M|  1000|  Finance|
|     10|     4|   Jones|              2|       2005|     F|  2000|  Finance|
|     20|     2|    Rose|              1|       2010|     M|  4000|Marketing|
|     40|     5|   Brown|              2|       2010|      |    -1|       IT|
+-------+------+--------+---------------+-----------+------+------+---------+

In [12]:
dep_df.join(emp_df,dep_df.dept_id==emp_df.dept_id,'left_semi').show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|       IT|     40|
+---------+-------+

In [13]:
dep_df.join(emp_df,dep_df.dept_id==emp_df.dept_id,'left_anti').show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|    Sales|     30|
+---------+-------+

In [30]:
df3=spark.createDataFrame((Row(Age=10,name='Alice'),Row(Age=5,name='Bob')))

In [31]:
df3.show()

+---+-----+
|Age| name|
+---+-----+
| 10|Alice|
|  5|  Bob|
+---+-----+

In [19]:
df4 = spark.createDataFrame([
    Row(age=10, height=80, name="Alice"),
     Row(age=5, height=None, name="Bob"),
     Row(age=None, height=None, name="Tom"),
     Row(age=None, height=None, name=None),
 ])

In [20]:
df4.show()

+----+------+-----+
| age|height| name|
+----+------+-----+
|  10|    80|Alice|
|   5|  null|  Bob|
|null|  null|  Tom|
|null|  null| null|
+----+------+-----+

In [34]:
df3.join(df4,['age','name'],'leftanti').show()

+---+----+
|Age|name|
+---+----+
+---+----+

###  observation - rows  in dataframes are case-sensitive.