In [23]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,when

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

In [2]:
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]

In [3]:
columns =['name','gender','salary']

In [4]:
df =spark.createDataFrame(data,columns)

In [5]:
df.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  null|400000|
|  Maria|     F|500000|
|    Jen|      |  null|
+-------+------+------+

In [25]:
df.withColumn('gender_abbrevation',when(col('gender')=='M','male')
                                   .when(col('gender')=='F','female')
                                   .when(col('gender').isNull(),'Null_value')
                                   .otherwise('default')     
                                         
             ).show()

+-------+------+------+------------------+
|   name|gender|salary|gender_abbrevation|
+-------+------+------+------------------+
|  James|     M| 60000|              male|
|Michael|     M| 70000|              male|
| Robert|  null|400000|        Null_value|
|  Maria|     F|500000|            female|
|    Jen|      |  null|           default|
+-------+------+------+------------------+