In [27]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import col

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

In [2]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

In [3]:
columns = ["firstname","middlename","lastname","dob","gender","salary"]

In [4]:
df=spark.createDataFrame(data,columns)

In [5]:
df.collect()

[Row(firstname='James', middlename='', lastname='Smith', dob='1991-04-01', gender='M', salary=3000),
 Row(firstname='Michael', middlename='Rose', lastname='', dob='2000-05-19', gender='M', salary=4000),
 Row(firstname='Robert', middlename='', lastname='Williams', dob='1978-09-05', gender='M', salary=4000),
 Row(firstname='Maria', middlename='Anne', lastname='Jones', dob='1967-12-01', gender='F', salary=4000),
 Row(firstname='Jen', middlename='Mary', lastname='Brown', dob='1980-02-17', gender='F', salary=-1)]

In [6]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [7]:
df.schema

StructType([StructField('firstname', StringType(), True), StructField('middlename', StringType(), True), StructField('lastname', StringType(), True), StructField('dob', StringType(), True), StructField('gender', StringType(), True), StructField('salary', LongType(), True)])

## filter() function samples

In [8]:
df.filter(df.salary >3000).show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
+---------+----------+--------+----------+------+------+

In [9]:
df.filter(df.firstname.like("M%")).filter(df.salary==3000).show()

+---------+----------+--------+---+------+------+
|firstname|middlename|lastname|dob|gender|salary|
+---------+----------+--------+---+------+------+
+---------+----------+--------+---+------+------+

## filter() by SQL expression in a string

In [10]:
df.filter("firstname like 'M%' and salary=3000").show()

+---------+----------+--------+---+------+------+
|firstname|middlename|lastname|dob|gender|salary|
+---------+----------+--------+---+------+------+
+---------+----------+--------+---+------+------+

In [11]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

### please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.

In [46]:
df.where((col('salary')>3000) & (col('gender')=='F')).show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
+---------+----------+--------+----------+------+------+

### isin() - similar to sql 'in' clause

In [36]:
name_filter=['James','Jen']

In [37]:
df.where(col('firstname').isin(name_filter)).show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [39]:
exclude_filter =''

In [43]:
df.where(~col('middlename').isin(exclude_filter)).explain()

== Physical Plan ==
*(1) Filter (isnotnull(middlename#1) AND NOT (middlename#1 = ))
+- *(1) Scan ExistingRDD[firstname#0,middlename#1,lastname#2,dob#3,gender#4,salary#5L]