In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

# The SparkContext is available through the SparkSession
sc = spark.sparkContext

In [2]:
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]

In [3]:
dept_rdd=sc.parallelize(dept)

In [4]:
dept_rdd.collect()

[('Finance', 10), ('Marketing', 20), ('Sales', 30), ('IT', 40)]

## without column_name

In [5]:
dept_df=dept_rdd.toDF()

In [6]:
dept_df.show()

+---------+---+
|       _1| _2|
+---------+---+
|  Finance| 10|
|Marketing| 20|
|    Sales| 30|
|       IT| 40|
+---------+---+

## with column_name

In [7]:
columns=['Dept_Name','Headcount']

dep_df=dept_rdd.toDF(columns)

In [8]:
dep_df.show()

+---------+---------+
|Dept_Name|Headcount|
+---------+---------+
|  Finance|       10|
|Marketing|       20|
|    Sales|       30|
|       IT|       40|
+---------+---------+

## createDataFrame with iterable as input

In [9]:
spark.createDataFrame(dept,columns).show()

+---------+---------+
|Dept_Name|Headcount|
+---------+---------+
|  Finance|       10|
|Marketing|       20|
|    Sales|       30|
|       IT|       40|
+---------+---------+

## createDataFrame with RDD as input

In [10]:
spark.createDataFrame(dept_rdd,columns).show()

+---------+---------+
|Dept_Name|Headcount|
+---------+---------+
|  Finance|       10|
|Marketing|       20|
|    Sales|       30|
|       IT|       40|
+---------+---------+

In [11]:
spark.createDataFrame(dept_rdd).show()

+---------+---+
|       _1| _2|
+---------+---+
|  Finance| 10|
|Marketing| 20|
|    Sales| 30|
|       IT| 40|
+---------+---+