In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

In [2]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

In [3]:
columns = ["firstname","middlename","lastname","dob","gender","salary"]

In [4]:
df=spark.createDataFrame(data,columns)

In [5]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

## select all columns with select()

In [6]:
df.select('*').show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

## select intended columns with select()

In [7]:
df.select('firstname','gender','salary').show()

+---------+------+------+
|firstname|gender|salary|
+---------+------+------+
|    James|     M|  3000|
|  Michael|     M|  4000|
|   Robert|     M|  4000|
|    Maria|     F|  4000|
|      Jen|     F|    -1|
+---------+------+------+

## applying arithmetic operations with select()

In [9]:
df.select('firstname','gender','salary',(df.salary/1000).alias('sal_')).show()

+---------+------+------+------+
|firstname|gender|salary|  sal_|
+---------+------+------+------+
|    James|     M|  3000|   3.0|
|  Michael|     M|  4000|   4.0|
|   Robert|     M|  4000|   4.0|
|    Maria|     F|  4000|   4.0|
|      Jen|     F|    -1|-0.001|
+---------+------+------+------+