In [1]:
from pyspark.sql import SparkSession

#from pyspark.sql.functions import *

spark = SparkSession.builder.appName("YourSparkApplication").master("local[*]").getOrCreate()

In [2]:
simpleData = [("James","Sales","NY",90000,34,10000), 
    ("Michael","Sales","NY",86000,56,20000), 
    ("Robert","Sales","CA",81000,30,23000), 
    ("Maria","Finance","CA",90000,24,23000), 
    ("Raman","Finance","CA",99000,40,24000), 
    ("Scott","Finance","NY",83000,36,19000), 
    ("Jen","Finance","NY",79000,53,15000), 
    ("Jeff","Marketing","CA",80000,25,18000), 
    ("Kumar","Marketing","NY",91000,50,21000) 
  ]

In [3]:
columns= ["employee_name","department","state","salary","age","bonus"]

In [4]:
df =spark.createDataFrame(simpleData,columns)

In [5]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [11]:
df.groupBy(df.department).min('salary').show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      81000|
|   Finance|      79000|
| Marketing|      80000|
+----------+-----------+

### groupBy multiple columns

In [7]:
df.groupBy('department','state').sum('salary','bonus').show()

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|     Sales|   NY|     176000|     30000|
|     Sales|   CA|      81000|     23000|
|   Finance|   CA|     189000|     47000|
|   Finance|   NY|     162000|     34000|
| Marketing|   NY|      91000|     21000|
| Marketing|   CA|      80000|     18000|
+----------+-----+-----------+----------+

In [8]:
df.groupBy('department').min('salary').max('salary').show()

AttributeError: 'DataFrame' object has no attribute 'max'

### To perform multiple aggregate functions, agg() can be leveraged

In [ ]:
df.groupBy('department').agg(min('salary').alias('min_salary') , max('salary').alias('max_salary')).show()

### having clause can be acheived using where() or filter() 

#### observation - couldn't invoke alias name with string variable or df.max_salary. col('max_salary') works

In [ ]:
df.groupBy('department').agg(min('salary').alias('min_salary') ,
                             max('salary').alias('max_salary'),
                            count('department').alias('cnt')).where(col('max_salary')>90000).show()

In [ ]:
df.count()