-conda create -n muthu python=3 anaconda

In [2]:
3+5

8

In [3]:
3-5

-2

In [4]:
3*5

15

In [5]:
102 /35

2.914285714285714

In [6]:
"muthu"+"vairavan"

'muthuvairavan'

In [7]:
'muthu'+'vairavan'

'muthuvairavan'

In [8]:
'muthu'+'20'

'muthu20'

In [9]:
'muthu' *2

'muthumuthu'

Comparision operators

# comparision operators

## Comparison

In [10]:
### comparison

### comparison operator

In [11]:
45 < 32

False

In [12]:
45 == 56

False

In [14]:
3 and 5

5

In [15]:
0 and 100

0

In [16]:
0 or 100

100

In [17]:
not 0

True

In [18]:
not 'muthu'

False

In [21]:
a=5
print (a)

5

In [22]:
b=a
print(b ,a)

5 5

In [23]:
type(a)

int

In [1]:
# set

# set

In [2]:
thisisset={"orange","apple","amla"}

print(thisisset)

{'amla', 'orange', 'apple'}