In [11]:
str_input='2+2/2'
print(str_input)

2+2/2

In [12]:
eval(str_input)

3.0

In [13]:
str_input = input()
eval(str_input)

print(2+3)
5

In [14]:
price_list = {875, 225, 550, 650}
print(type(price_list))

<class 'set'>

In [17]:
num = {1,2,3,5,7,11,13,17}

add = lambda a : a+1
newlist= list(map(add , num ))

print(newlist)

[2, 3, 4, 6, 8, 12, 14, 18]

In [20]:
num={1,2,3,4,4}

num_set =set(num)
print(num_set)

num_set1 =list(num_set)

print(num_set1)

{1, 2, 3, 4}
[1, 2, 3, 4]

In [25]:
lis =['1','2','3','4']
new_lis = list(map(lambda x:int(x),lis))

print(new_lis)
print(lis)

[1, 2, 3, 4]
['1', '2', '3', '4']

In [26]:
list = [[7, 1, 0], [10, 2, 5], [6, 5, 9], [9, 9, 9], [1, 23, 12]]
print(list)

[[7, 1, 0], [10, 2, 5], [6, 5, 9], [9, 9, 9], [1, 23, 12]]

In [27]:
lis = [[7, 1, 0], [10, 2, 5], [6, 5, 9], [9, 9, 9], [1, 23, 12]]
print(lis)

[[7, 1, 0], [10, 2, 5], [6, 5, 9], [9, 9, 9], [1, 23, 12]]

In [30]:
for i in list:
    print(*i)

7 1 0
10 2 5
6 5 9
9 9 9
1 23 12